
.photo-grid {
  margin: auto;
}

.photo-grid__list {
        list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
    padding: 0;
    margin: 118px auto 92px auto;
    max-width: 1184px;
}
.photo-grid__list-item {
  width: 100%;
}
.photo-grid__item {
  width: 100%;
}

@media screen and (max-width:1024px) {
  .photo-grid__list {
    max-width: 720px;
    margin: auto;
  }
  .photo-grid__list-item {
    max-height: 264px;
    width: 100%;
  }
}

@media screen and (max-width: 544px) {
.photo-grid__list {
  max-width: 288px;
}
.photo-grid__list-item {
  max-height: 216px;
}
}