
.photo-grid__list {
        list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
    padding: 0;
    margin: 118px auto 92px auto;
    max-width: 1184px;
}
.photo-grid__list-item {
  width: 100%;
}