.places {
max-width: 984px;
margin: auto;
gap: 72px;
display: grid;
margin-top: 92px;
}


@media screen and (max-width:1024px) {
.places {
    max-width: 720px;
    margin-top: 88px;
}
}

@media screen and (max-width: 544px) {
.places {
    max-width: 320px;
    margin-top: 62px;
    display: grid;
    gap: 50px;
}
}

